<section class="jobs">
    <div class="jobs__content container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 border-right">
                <div class="jobs__items">
                    <h2>Become an Instructor</h2>
                    <p>Top instructors from around the world teach millions of students on Udemy. We provide the
                        tools and skills to teach what you love.</p>
                    <button class="button--red">Start teaching today</button>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="jobs__items">
                    <h2>Udemy for Business</h2>
                    <p>Get unlimited access to 4,000+ of Udemy’s top courses for your team.</p>
                    <button class="button--red">Get Udemy for Business</button>
                </div>
            </div>
        </div>
    </div>
</section>