<!-- COVER -->
<section class="cover">
    <div class="cover__content">
        <h1>Learn on your schedule</h1>
        <p>Study any topic, anytime. Explore thousands of courses for as low as $19.99</p>
        <form class="cover__form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="What do you want to learn?">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
</section>