/* BANNER */
.banner {
    background: url("../../../assets/img/udemy-logo-semi-transparent.svg") 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
    background-blend-mode: overlay;
    height: 325px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .banner h2 {
    color: #fff;
    font-size: 36px;
    font-weight: normal;
  }
  
  .banner p {
    color: #fff;
    margin-bottom: 0;
  }
  
  .banner button {
    margin: 10px 0;
  }

  .button--red {
    color: #fff;
    background-color: #ec5252;
    border: 1px solid #ec5252;
    font-size: 15px;
    font-weight: 600;
    padding: 11px 12px;
    cursor: pointer;
  }
  .button--red:hover {
    color: #fff;
    background-color: #521822;
    border: 1px solid #521822;
  }

  /* CATEGORIES */
  .categories{
    margin-top: 32px;
}

.categories .categories__content{
    width: 90%;
    margin: 0 auto;
}

.categories .categories__content h2{
    font-size: 24px;
}

.categories .categories__content .categories__items{
    padding: 15px;
    font: 18px;
    border: 1px solid rgba(20, 23, 28, 0.1);
    margin-bottom: 15px;
}
.categories .categories__content .categories__items:hover {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}