<!--COVER-->
<app-cover></app-cover>

<!--INTRODUCTION-->
<app-intro></app-intro>

<!--COURSE CAROUSEL-->
<app-course-carousel></app-course-carousel>

<!--BANNER-->
<section class="banner">
    <div class="container">
        <h2>Learn anytime, anywhere</h2>
        <p>Take courses on any of your devices</p>
        <p>Go at your own pace with lifetime access</p>
        <p>Try risk-free with our 30-day money-back guarantee</p>
        <button class="button--red">Sign Up For Free</button>
        <div class="row">
            <div class="col-6 text-right">
                <img src="../../../assets/img/google_btn.png" alt="google btn">
            </div>
            <div class="col-6 text-left">
                <img src="../../../assets/img/apple_btn.png" alt="apple btn">
            </div>
        </div>
    </div>
</section>

<!--CATEGORIES-->
<app-course-category></app-course-category>
<!-- <section class="categories">
    <div class="categories__content">
        <h2>Top Categories</h2>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-code"></i>
                    <span>Development</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-chart-bar"></i>
                    <span>Business</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-laptop"></i>
                    <span>IT and Software</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-pencil-alt"></i>
                    <span>Design</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-bullseye"></i>
                    <span>Marketing</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-book"></i>
                    <span>Personal Development</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-camera-retro"></i>
                    <span>Photography</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <div class="categories__items">
                    <i class="fa fa-music"></i>
                    <span>Music</span>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!--COMMENT FROM STUDENTS-->
<app-carousel></app-carousel>