<div class="students">
    <div class="students__content">
        <h2>What our students have to say</h2>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card card--feedback">
                    <div class="card-body">
                        <div class="card__top">
                            <div class="card__avatar">
                                <img src="../../../assets/img/s1.jpg" alt="student 1">
                            </div>
                            <div>
                                <p class="card__name">Oscar Javier</p>
                                <div class="card__stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            I had a couple of months of experience trading without consistent
                            results. After taking this
                            course I'm pretty confident that I'll be a better trader and know better when to enter a
                            trade, how to put my stop
                            loss and take profit, how many lots to trade and much more.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card card--feedback">
                    <div class="card-body">
                        <div class="card__top">
                            <div class="card__avatar">
                                <img src="../../../assets/img/s2.jpg" alt="student 2">
                            </div>
                            <div>
                                <p class="card__name">Estelle</p>
                                <div class="card__stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            My first complete Photoshop for Designing t-shirts course done! I am
                            not a designer at all, but
                            after taking this course I really felt like a professional with enough confidence to now
                            go out and design for the
                            real world. Learned SO much! thank you!
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card card--feedback">
                    <div class="card-body">
                        <div class="card__top">
                            <div class="card__avatar">
                                <img src="../../../assets/img/s3.jpg" alt="student 3">
                            </div>
                            <div>
                                <p class="card__name">Mrinal</p>
                                <div class="card__stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            Great course for beginners as well as working professionals. I'm
                            working as a UI developer for
                            last 2 years and worked on different javascript frameworks but the clarity of concepts
                            which I got after taking
                            this course is exceptional which I was not having previously.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card card--feedback">
                    <div class="card-body">
                        <div class="card__top">
                            <div class="card__avatar">
                                <img src="../../../assets/img/s4.jpg" alt="student 4">
                            </div>
                            <div>
                                <p class="card__name">Flávio</p>
                                <div class="card__stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            Very explained even for a short course. It's not for full
                            understanding, but it works perfectly as
                            an introduction for the subject. And you can really build a robot after taking this
                            course.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card card--feedback">
                    <div class="card-body">
                        <div class="card__top">
                            <div class="card__avatar">
                                <img src="../../../assets/img/s5.jpg" alt="student 5">
                            </div>
                            <div>
                                <p class="card__name">Angeles</p>
                                <div class="card__stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            I didn't know anything at all about FB ads for this course and have a
                            client that is wanting to
                            start using them. After taking this course i feel like I can help them and so much more
                            confident in coming up with
                            a strategy.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card card--feedback">
                    <div class="card-body">
                        <div class="card__top">
                            <div class="card__avatar">
                                <img src="../../../assets/img/s6.jpg" alt="student 6">
                            </div>
                            <div>
                                <p class="card__name">Carol</p>
                                <div class="card__stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            After studying German for about six months my spelling and grammar is
                            good, but I was having
                            trouble with some pronunciation. After taking this course it has really helped me
                            pronounce certain words I was
                            having trouble with and also have better listening skill of German speakers.
                        </p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>