<!-- INTRO -->
<section class="intro">
    <div class="intro__content">
        <div class="row">
            <div class="col-4">
                <div class="intro__items">
                    <div class="intro__icon">
                        <i class="fa fa-bullseye"></i>
                    </div>
                    <div class="intro__details">
                        <p>80,000 online courses</p>
                        <p>Explore a variety of fresh topics</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="intro__items">
                    <div class="intro__icon">
                        <i class="fa fa-spinner"></i>
                    </div>
                    <div class="intro__details">
                        <p>Expert instruction</p>
                        <p>Find the right instructor for you</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="intro__items">
                    <div class="intro__icon">
                        <i class="fa fa-sync-alt"></i>
                    </div>
                    <div class="intro__details">
                        <p>Lifetime access</p>
                        <p>Learn on your schedule</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>